.admin-confirm-card {
    max-width: 400px;
    border: 2px solid var(--color-border);
    box-shadow: var(--shadow);
    border-radius: 8px;
    padding: 2rem;
    margin: 200px auto 0 auto;
}

.admin-layout .admin-nav-holder {
    padding: 20px;
    border-bottom: 1px solid var(--color-border);
    box-shadow: var(--shadow);
    background-color: var(--color-background-soft);
}

.admin-layout .admin-nav-holder nav {
    display: flex;
    justify-content: space-between;
}

.admin-layout .admin-nav-holder nav .center-menu {
    width: 80%;
    align-self: center;
    text-align: center;
}

.admin-layout .admin-nav-holder nav .right-menu {
    align-self: flex-end;
    text-align: right;
}

.admin-layout .admin-nav-holder nav a {
    margin: 0 10px;
    color: var(--color-text);
}

.admin-layout .admin-nav-holder .right-menu .admin-drop-menu {
    position: absolute;
    right: 20px;
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 10px;
    min-width: 160px;
    box-shadow: var(--shadow);
    z-index: 1;
}

.admin-layout .admin-nav-holder .right-menu button {
    border: 0;
    color: var(--color-text);
    background-color: inherit;
}

.admin-layout .admin-nav-holder .right-menu button span {
    font-weight: 600;
    font-size: 1rem;
}

.admin-layout .admin-nav-holder .right-menu button span.icon {
    margin-left: 10px;
}

.admin-layout .admin-nav-holder .right-menu button:hover {
    border-bottom: 1px solid var(--color-link-hover);
    cursor: pointer;
}

.admin-layout .content {
    padding: 20px;
    margin-top: 10px;
}

.admin-layout .content .admin-resource-holder {
    display: flex;
    height: 80vh;
}

.admin-layout .content .admin-resource-holder .admin-resource-side {
    padding: 20px;
    width: 200px;
    height: 100%;
    margin: 10px;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow);
}

.admin-layout .content .admin-resource-holder .admin-resource-side .resource-btn {
    border: 0;
    border-bottom: 1px solid var(--color-background);
    color: var(--color-text);
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    background-color: inherit;
}
.admin-layout .content .admin-resource-holder .admin-resource-side .resource-btn.active {
    border-bottom: 1px solid var(--color-link-hover);
}

.admin-layout .content .admin-resource-holder .admin-resource-side .resource-btn:hover {
    border-bottom: 1px solid var(--color-link-hover);
    cursor: pointer;
}

.admin-layout .content .admin-resource-holder .admin-resource-content {
    padding: 20px;
    flex-grow: 1;
    margin: 10px;
    height: 100%;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow);
}

.admin-layout .content .resurce .password-container {
    max-width: 50%;
}

.admin-layout .content .resurce table {
    margin-top: 2rem;
    width: 100%;
    border: 2px solid var(--color-border);
    border-collapse: collapse;
    font-size: 1rem;
    font-weight: 400;
}

.admin-layout .content .resurce th {
    text-align: left;
    font-weight: 600;
    padding: 5px;
    border: 2px solid var(--color-border);
    border-collapse: collapse;
}

.admin-layout .content .resurce td {
    text-align: left;
    padding: 5px;
    border: 2px solid var(--color-border);
    border-collapse: collapse;
}

.admin-layout .content .resurce .resurce-control {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.admin-layout .content .resurce .resurce-control select {
    padding: 0.75rem;
    font-size: 1rem;
    border: 2px solid var(--color-border);
    border-radius: 4px;
    margin-right: 20px;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.admin-layout .content .resurce .resurce-control button {
    font-size: 1rem;
    padding: 0.75rem;
}