.base-layout-body {
    display: grid;
    grid-template-areas: 
        'top top top top top top top top top top top top'
        'content content content content content content content content content content content content'
        'content content content content content content content content content content content content'
        'content content content content content content content content content content content content'
        'content content content content content content content content content content content content'
        'content content content content content content content content content content content content'
        'content content content content content content content content content content content content'
        'content content content content content content content content content content content content'
        'content content content content content content content content content content content content'
        'content content content content content content content content content content content content'
        'content content content content content content content content content content content content'
        'side side side side side side side side side side side side';
    height: 100vh;
}

.base-layout-body .top-nav {
    grid-area: top;
    height: 10vh;
    background-image: linear-gradient(var(--color-background-mute), var(--color-background));
}

.base-layout-body .side-nav {
    grid-area: side;
    align-content: end;
    height: 10vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, var(--color-background-mute), var(--color-background));
}

.base-layout-body .side-nav .side-nav-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 2rem;
    box-shadow: var(--shadow);
}

.base-layout-body .content {
    grid-area: content;
    justify-content:center;
    height: 80vh;
    background-color: var(--color-background);
}

.base-layout-body .content .content-body {
    max-height: 80vh;
    overflow-y: auto;
}

.base-layout-body .top-nav nav {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    box-shadow: var(--shadow);
}

.base-layout-body .top-nav nav .nav-box .menu-item {
    display: inline-block;
}

.base-layout-body .top-nav nav .nav-box a .icon svg {
    fill: var(--color-link);
}

.base-layout-body .top-nav nav .nav-box a:hover .icon svg {
    fill: var(--color-link-hover);
}

.base-layout-body .hide-mb {
    display: none;
}

@media (min-width: 750px) {
    .base-layout-body {
        grid-template-areas: 
            'top top top top top top top top top top top top'
            'side side content content content content content content content content content content'
            'side side content content content content content content content content content content'
            'side side content content content content content content content content content content'
            'side side content content content content content content content content content content'
            'side side content content content content content content content content content content'
            'side side content content content content content content content content content content'
            'side side content content content content content content content content content content'
            'side side content content content content content content content content content content'
            'side side content content content content content content content content content content'
            'side side content content content content content content content content content content'
            'side side content content content content content content content content content content';
    }

    .base-layout-body .side-nav {
        height: 90vh;
        width: 25vw;
        background-image: linear-gradient(to right, var(--color-background-mute), var(--color-background));
    }
    .base-layout-body .side-nav .side-nav-box {
        flex-direction: column;
        justify-content: start;
        height: 100%;
        width: 80%;
    }
    .base-layout-body .content {
        height: 90vh;
    }
    .base-layout-body .content .content-body {
        max-height: 90vh;
    }
}

@media (min-width: 900px) {
    .base-layout-body .hide-mb {
        display: inline-block;
    }
}
