/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

    --vt-c-link-dark: #0664b1;
    --vt-c-link-light: #061ea7;
    --vt-c-link-dark-hover: #0b528b;
    --vt-c-link-light-hover: #3652f3;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --color-text-muted: var(--vt-c-text-light-2);

    --color-link: var(--vt-c-link-light);
    --color-link-hover: var(--vt-c-link-light-hover);

    --color-danger:#f00909;

    --color-success: #089a2f;
    --color-success-hover: #17c520;

    --section-gap: 10rem;

    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
        --color-text-muted: var(--vt-c-text-dark-2);

        --color-link: var(--vt-c-link-dark);
        --color-link-hover: var(--vt-c-link-dark-hover);

        --shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    min-height: 50vh;
}

a {
    text-decoration: none;
    color: var(--color-link);
    font-weight: 600;
    transition: 0.2s;
    border-bottom: 1px solid var(--color-background);
}

b {
    font-weight: 600;
}

@media (hover: hover) {
    a:hover {
        color: var(--color-link-hover);
        border-bottom: 1px solid var(--color-link-hover);
    }
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.75rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.35rem;
    font-weight: 600;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

h6 {
    font-size: 1.1rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

input[type=text] {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: var(--shadow);
    font-size: 1rem;
}

input[type=password] {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: var(--shadow);
    font-size: 1rem;
}

label {
    display: block;
    font-weight: 300;
    font-style: italic;
}

label span {
    font-weight: 500;
    color: var(--color-danger);
}

.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.icon-lg {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

.icon-edit-btn {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.icon-edit-btn svg {
    fill: var(--color-success);
}

.icon-edit-btn:hover svg {
    fill: var(--color-success-hover);
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.ml-05 {
    margin-left: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-normal {
    font-weight: 400;
}

.text-bold {
    font-weight: 600;
}

.text-danger {
    color: var(--color-danger);
}

.text-primary {
    color: var(--color-text);
}

.font-sm {
    font-size: 0.75rem;
}

.font-md {
    font-size: 1rem;
}

.font-lg {
    font-size: 1.2rem;
}

.lg-select-box {
    position: relative;
}

.lg-select-box .lg--select {
    position: absolute;
    background-color: var(--color-background-soft);
    min-width: 100%;
    box-shadow: var(--shadow);
    border-radius: 0.25rem;
    padding: 12px 16px;
    z-index: 1;
}

.lg-select-box button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    padding: 6px 0;
    border: 0;
    color: var(--color-link);
    font-weight: 500;
    transition: 0.2s;
    min-width: fit-content;
    font-size: 1rem;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-background);
}

.lg-select-box button:hover {
    color: var(--color-link-hover);
    border-bottom: 1px solid var(--color-link-hover);
    cursor: pointer;
}

.lg-select-box button .icon svg {
    fill: var(--color-link);
}

.lg-select-box button:hover .icon svg {
    fill: var(--color-link-hover);
}

.lg-select-box button b {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

.simple-checkbox label {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.simple-checkbox label input {
    cursor: pointer;
}

.invalid-input {
    border-color: var(--color-danger);
    outline-color: var(--color-danger);
    margin-bottom: 0 !important;
}

.invalid-text {
    color: var(--color-danger);
    margin-bottom: 1rem;
}

.hidden-input {
    visibility: hidden;
    height: 1px;
    padding: 0 !important;
    margin-bottom: 0 !important;
    border: 0 !important;
}

.active-link {
    color: var(--color-link-hover);
    border-bottom: 1px solid var(--color-link-hover);
}

.active-link .icon svg {
    fill: var(--color-link-hover) !important;
}

.profile-img {
    display: inline-block;
    border: 2px solid var(--color-border);
    box-shadow: var(--shadow);
    padding: 2px;
    border-radius: 1rem;
}

.profile-img.md {
    width: 128px;
    height: auto;
}

.profile-img.sm {
    width: 3rem;
    height: auto;
}
