.base-layout-body {
    height: 100vh;
}

.base-layout-body .top-nav {
    height: 10vh;
    background-image: linear-gradient(var(--color-background-mute), var(--color-background));
}

.base-layout-body .side-body {
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
}

.base-layout-body .side-body .side-nav {
    height: 10vh;
    width: 97vw;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--color-background-mute), var(--color-background));
}

.base-layout-body .side-body .side-nav .side-nav-box {
    width: 90%;
    height: 80%;
    box-shadow: var(--shadow);
    overflow: auto;
}

.base-layout-body .side-body .side-nav .side-nav-box .side-nav-items {
    text-wrap-mode: nowrap;
}

.base-layout-body .side-body .side-nav .side-nav-box .side-nav-items .group-item {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 2px;
    border: 1px solid var(--color-border);
    border-radius: 0.25rem;
    cursor: pointer;
}

.base-layout-body .side-body .side-nav .side-nav-box .side-nav-items .group-item .friend-img {
    display: inline-block;
}

.base-layout-body .side-body .side-nav .side-nav-box .side-nav-items .group-item .friend-img .profile-init {
    font-size: 12px;
    padding: 2px;
    border-radius: 2px;
}

.base-layout-body .side-body .side-nav .side-nav-box .side-nav-items .group-item .friend-img .profile-img.sm {
    border: 0;
    border-radius: 2px;
    width: 16px;
    height: auto;
}

.base-layout-body .side-body .side-nav .side-nav-box .side-nav-items .group-item p {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-left: 4px;
}

.base-layout-body .side-body .side-nav .side-nav-box .side-nav-items .group-item:hover {
    border-color: var(--color-border-hover);
}

.base-layout-body .side-body .content {
    display: flex;
    justify-content:center;
    height: 80vh;
    width: 97vw;
    overflow-y: auto;
    background-color: var(--color-background);
}

.base-layout-body .side-body .content .content-body {
    max-height: 80vh;
    width: 100%;
    overflow-y: auto;
}

.base-layout-body .top-nav nav {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    box-shadow: var(--shadow);
}

.base-layout-body .top-nav nav .nav-box .menu-item {
    display: inline-block;
    margin-right: 1rem;
}

.base-layout-body .top-nav nav .nav-box a .icon svg {
    fill: var(--color-link);
}

.base-layout-body .top-nav nav .nav-box a:hover .icon svg {
    fill: var(--color-link-hover);
}

.base-layout-body .hide-mb {
    display: none;
}

.new-msg {
    color: var(--color-background);
    font-weight: 900;
}

.new-msg.active {
    color: var(--color-link);
}

@media (min-width: 1024px) {
    .base-layout-body .side-body {
        flex-direction: row;
    }

    .base-layout-body .side-body .side-nav {
        flex-direction: column;
        justify-content: start;
        height: 90vh;
        width: 25vw;
        background-image: linear-gradient(to right, var(--color-background-mute), var(--color-background));
    }
    .base-layout-body .side-body .side-nav .side-nav-box .side-nav-items .group-item {
        display: block;
    }
    .base-layout-body .side-body .content {
        width: 75vw;
        height: 90vh;
    }
    .base-layout-body .content .content-body {
        max-height: 90vh;
    }
}

@media (min-width: 900px) {
    .base-layout-body .hide-mb {
        display: inline-block;
    }
}

@media (min-width: 450px) {
    .base-layout-body .top-nav nav .nav-box .menu-item {
        margin-right: 2rem;
    }
}
