.chat-container {
    width: 98vw;
    position: fixed;
    border: 2px solid var(--color-border);
    border-radius: 6px;
    background-color: var(--color-background);
    box-shadow: var(--shadow);
}

.chat-container.full-screen {
    width: 98vw;
    transition: 0.2s;
}

.chat-container.closing {
    width: 100px;
    transition: 0.2s;
}
.chat-container.full-screen.closing {
    width: 100px;
    transition: 0.2s;
}
.chat-container.closing .chat-body {
    height: 100px;
    transition: 0.2s;
}
.chat-container.full-screen.closing .chat-body {
    height: 100px;
    transition: 0.2s;
}

.chat-container.full-screen .chat-body {
    height: 80vh;
    transition: 0.2s;
}

.chat-container .chat-header {
    height: 35px;
    border-bottom: 2px solid var(--color-border);
    background-color: var(--color-background-mute);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-container .chat-header:active {
    background-color: var(--color-border-hover);
}

.chat-container .chat-header h4 {
    margin-left: 10px;
}

.chat-container .chat-header .controls {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container .chat-header .controls .minimaize-btn {
    display: none;
}

.chat-container .chat-header .controls button {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    margin-right: 20px;
    background-color: inherit;
    cursor: pointer;
}

.chat-container .chat-header .controls:last-child {
    padding-bottom: 1px;
}

.chat-container .chat-header .controls button .icon svg {
    fill: var(--color-link);
}

.chat-container .chat-header .controls button:hover .icon svg {
    fill: var(--color-link-hover);
}

.chat-container .chat-body {
    height: 70vh;
    transition: 0.2s;
}

.chat-container .chat-footer {
    height: 75px;
    border-top: 2px solid var(--color-border);
    background-color: var(--color-background-mute);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chat-container .chat-footer .icon-btn-container {
    display: flex;
    align-items: baseline;
    justify-content:space-around;
    margin-left: 10px;
}

.chat-container .chat-footer .icon-btn-container button {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.chat-container .chat-footer .icon-btn-container button .icon svg {
    fill: var(--color-link);
}

.chat-container .chat-footer .icon-btn-container button:hover .icon svg {
    fill: var(--color-link-hover);
}

.chat-container .chat-footer .msg-input-container {
    display: flex;
    align-items: center;
}

.chat-container .chat-footer .msg-input-container input {
    border: 2px solid var(--color-border-hover);
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--color-background);
    margin-left: 10px;
    width: 90%;
}

.reaction-btn {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

@media (min-width: 750px) {
    .chat-container {
        width: 450px;
    }

    .chat-container .chat-header .controls .minimaize-btn {
        display: inline-block;
    }

    .chat-container .chat-body {
        height: 40vh;
        transition: 0.2s;
    }
}