.chat-container {
    width: 98vw;
    position: fixed;
    border: 2px solid var(--color-border);
    border-radius: 6px;
    background-color: var(--color-background);
    box-shadow: var(--shadow);
}

.chat-container.full-screen {
    width: 98vw;
    transition: 0.2s;
}

.chat-container.closing {
    width: 100px;
    transition: 0.2s;
}
.chat-container.full-screen.closing {
    width: 100px;
    transition: 0.2s;
}
.chat-container.closing .chat-body {
    height: 100px;
    transition: 0.2s;
}
.chat-container.full-screen.closing .chat-body {
    height: 100px;
    transition: 0.2s;
}

.chat-container.full-screen .chat-body {
    height: 80vh;
    transition: 0.2s;
}

.chat-container .chat-header {
    height: 35px;
    border-bottom: 2px solid var(--color-border);
    background-color: var(--color-background-mute);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-container .chat-header:active {
    background-color: var(--color-border-hover);
}

.chat-container .chat-header h4 {
    margin-left: 10px;
}

.chat-container .chat-header .controls {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container .chat-header .controls .minimaize-btn {
    display: none;
}

.chat-container .chat-header .controls button {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    margin-right: 20px;
    background-color: inherit;
    cursor: pointer;
}

.chat-container .chat-header .controls:last-child {
    padding-bottom: 1px;
}

.chat-container .chat-header .controls button .icon svg {
    fill: var(--color-link);
}

.chat-container .chat-header .controls button:hover .icon svg {
    fill: var(--color-link-hover);
}

.chat-container .chat-body {
    height: 70vh;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-container .chat-body .msg-and-user {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-container .chat-body .msg-and-user .user-box {
    height: 55px;
    border: 1px solid var(--color-border);
}

.chat-container .chat-body .msg-and-user .msg-box {
    overflow-y: auto;
    padding: 10px;
    scroll-behavior: smooth;
}

.chat-container .chat-body .help-box {
    height: 100px;
    border: 1px solid var(--color-border);
}

.chat-container .chat-body .help-box .chat-file-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container .chat-body .help-box .chat-file-input #img_input_field {
    margin-top: 15px;
    padding: 20px 50px;
    border: 2px dashed var(--color-success);
    border-radius: 0.25rem;
}

.chat-container .chat-body .help-box .chat-img-preview {
    display: flex;
    justify-content: center;
}

.chat-container .chat-body .help-box .chat-img-preview img {
    height: 96px;
    width: auto;
    margin-top: 2px;
    border-radius: 0.25rem;
    box-shadow: var(--shadow);
}

.chat-container .chat-body .help-box .chat-img-preview button {
    height: 20px;
    width: 20px;
    padding: 2px;
    border-radius: 50%;
    border-color: var(--color-danger);
    align-self: flex-start;
    margin-left: -5px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--shadow);
}

.chat-container .chat-body .help-box .chat-img-preview button .icon {
    line-height: 0;
}

.chat-container .chat-body .help-box .chat-img-preview button .icon svg {
    fill: var(--color-danger);
}

.chat-container .chat-footer {
    height: 75px;
    border-top: 2px solid var(--color-border);
    background-color: var(--color-background-mute);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chat-container .chat-footer .icon {
    line-height: 0;
}

.chat-container .chat-footer .active {
    border-radius: 0.25rem;
    border-bottom: 1px solid var(--color-link-hover) !important;
}

.chat-container .chat-footer .active .icon svg{
    fill: var(--color-link-hover) !important;
}

.chat-container .chat-footer .icon-btn-container {
    display: flex;
    align-items: baseline;
    justify-content:space-around;
    margin-left: 10px;
}

.chat-container .chat-footer .icon-btn-container button {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    border-bottom: 1px solid var(--color-background-mute);
    background-color: inherit;
    cursor: pointer;
}

.chat-container .chat-footer .icon-btn-container button .icon svg {
    fill: var(--color-link);
}

.chat-container .chat-footer .icon-btn-container button:hover .icon svg {
    fill: var(--color-link-hover);
}

.chat-container .chat-footer .msg-input-container {
    display: flex;
    align-items: center;
}

.chat-container .chat-footer .msg-input-container input {
    border: 2px solid var(--color-border-hover);
    background-color: var(--color-background);
    margin-left: 10px;
}

.chat-container .chat-footer .msg-input-container button.chat-send-btn {
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.chat-container .chat-footer .msg-input-container button.chat-send-btn .icon {
    width: 2rem;
    height: 2rem;
}

.chat-container .chat-footer .msg-input-container button.chat-send-btn .icon svg {
    fill: var(--color-success);
}

.chat-container .chat-footer .msg-input-container button.chat-send-btn:hover .icon svg {
    fill: var(--color-success-hover);
}

.reaction-btn {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

@media (min-width: 750px) {
    .chat-container {
        width: 450px;
    }

    .chat-container .chat-header .controls .minimaize-btn {
        display: inline-block;
    }

    .chat-container .chat-body {
        height: 40vh;
        transition: 0.2s;
    }
}

.emoji-container {
    height: 100px;
}

.emoji-container .emoji-select-box {
    height: 25px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emoji-container .emoji-select-box input[type="text"] {
    padding: 0 17px 0 3px;
    max-width: 150px;
    border: 1px solid var(--color-border);
}

.emoji-container .emoji-select-box .icon {
    width: 14px;
    height: 14px;
    margin-left: -18px;
    line-height: 0;
}

.emoji-container .emoji-select-box div {
    display: flex;
    align-items: center;
}

.emoji-container .emoji-select-box #group_select {
    padding: 0 3px;
    width: 150px;
    border: 1px solid var(--color-border);
    border-radius: 0.25rem;
    box-shadow: var(--shadow);
}

.emoji-container .emoji-box {
    padding: 2px 5px;
    height: 75px;
    overflow-y: auto;
}

.emoji-container .emoji-box button {
    border: 0;
    cursor: pointer;
    background-color: inherit;
}