.friend-list-container {
    margin: 0 20px;
}

.friend-list-container .friend-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.friend-list-container .friend-actions .btn-sm {
    margin-left: 2rem;
}

.contact-total {
    font-size: 12px;
    font-weight: 700;
}

.friend-list-container .friend-list {
    margin-bottom: 10vh;
}

.friend-list-container .friend-list .friend-wrapper {
    display: flex;
    width: 100%;
    border: 2px solid var(--color-border-hover);
    box-shadow: var(--shadow);
    border-radius: 6px;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
}

.friend-list-container .friend-list .friend-wrapper .friend-data {
    display: flex;
    align-items: center;
    gap: 20px;
}

.friend-list-container .friend-list .friend-wrapper .friend-data h5 {
    font-size: 0.8rem;
    cursor: pointer;
}

.friend-list-container .friend-list .friend-wrapper .friend-data h5:hover {
    text-decoration: underline;
}

.friend-img .profile-init {
    font-weight: 900;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid var(--color-border-hover);
    border-radius: 6px;
    box-shadow: var(--shadow);
    background-color: var(--color-background-soft);
    color: var(--color-text);
}

.profile-init-lg {
    font-weight: 900;
    font-size: 2rem;
    padding: 5px 20px;
    border: 1px solid var(--color-border-hover);
    border-radius: 6px;
    box-shadow: var(--shadow);
    background-color: var(--color-background-soft);
    color: var(--color-text);
}

.friend-checkbox {
    margin: 25px 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.friend-checkbox input {
    cursor: pointer;
}

.friend-checkbox label {
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
}

.friend-checkbox label:hover {
    color: var(--color-text-muted);
}

@media (min-width: 750px) {
    .friend-list-container .friend-actions {
        width: 80%;
    }

    .friend-list-container .friend-list .friend-wrapper {
        width: 80%;
        padding: 12px;
    }

    .friend-list-container .friend-list .friend-wrapper .friend-data h5 {
        font-size: 1.25rem;
    }
}