.contact-tabs .tab {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.contact-tabs .tab .tab-menu {
    border-bottom: 2px solid var(--color-border-hover);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem 0.25rem 0 0;
}

.contact-tabs .tab .tab-menu:hover {
    cursor: pointer;
}

.contact-tabs .tab .tab-menu.active-tab {
    border: 2px solid var(--color-border-hover);
    border-bottom: 0;
}

.contact-tabs .tab .tab-menu .tab-text {
    display: none;
    margin-left: 0.5rem;
    font-weight: 600;
}

@media (min-width: 1075px) {
    .contact-tabs .tab .tab-menu .tab-text {
        display: inline-block;
    }
}

@media (min-width: 1600px) {
    .contact-tabs .tab {
        justify-content: start;
        margin-left: 1rem;
    }
}

.contact-tabs .tab .tab-menu .tab-num {
    padding: 0 3px;
    text-align: center;
    color: var(--color-success);
    font-weight: 800;
    font-size: 12px;
    line-height: normal;
    border: 2px solid var(--color-success);
    border-radius: 50%;
}

.contact-tabs .tab-content {
    padding: 2rem;
    border-bottom: 2px solid var(--color-border-hover);
    margin:0 1rem;
}

.search-menu {
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--color-border-hover);
}

.search-menu .user-search-input {
    width: 100%;
}

@media (min-width: 1024px) {
    .search-menu .user-search-input {
        width: 50%;
    }
}

.search-result-no-result-holder {
    margin-top: 2rem;
    padding: 0 1rem;
}

.search-result-no-result-holder p {
    text-align: center;
    color: var(--color-text-muted);
    font-size: 1.1rem;
    font-weight: 600;
}

.search-result-holder {
    padding-top: 1rem;
}

.search-result-holder p {
    color: var(--color-text-muted);
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 1rem;
}

.search-result-holder .results {
    display: flex;
    justify-content: center;
}

.search-result-holder .results .result-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.friend-card {
    padding: 1rem 0;
    width: 160px;
    border: 1px solid var(--color-border-hover);
    border-radius: 0.25rem;
    box-shadow: var(--shadow);
    text-align: center;
}

.friend-card .friend-card-img {
    padding: 0 1rem 0 1rem;
}

.friend-card .friend-card-name {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--color-border-hover);
}

.friend-card .friend-card-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.friend-card .friend-card-action {
    padding: 1rem 1rem 0 1rem;
}

.pag-btn {
    height: 100%;
    margin: 0 4px;
    box-shadow: var(--shadow);
    font-weight: 800;
}

.pag-btn:hover {
    cursor: pointer;
}

.friend-modal-des p {
    color: var(--color-text);
}

.friend-modal-des .friend-card-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

@media (min-width: 500px) {
    .friend-modal-des .friend-card-btns {
        flex-direction: row;
    }
}

.request-modal-body {
    text-align: left;
    padding: 1rem;
}

.request-modal-body textarea {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    min-height: 6rem;
}