.overlay {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.overlay .overlay-icon-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.loader {
    position: relative;
    width: 108px;
    display: flex;
    justify-content: space-between;
}
.loader::after , .loader::before  {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    border-top: 4px solid black;
    border-bottom: 2px solid black;
    background-image:  radial-gradient(circle at center,black 0 , black 24%, #073c59 25% ,#5a92af 33%, #073c59 49%, transparent 50%);
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: eyeMove 10s infinite , blink 10s infinite;
}
@keyframes eyeMove {
    0%  , 10% {     background-position: 0px 0px}
    13%  , 40% {     background-position: -15px 0px}
    43%  , 70% {     background-position: 15px 0px}
    73%  , 90% {     background-position: 0px 15px}
    93%  , 100% {     background-position: 0px 0px}
}
@keyframes blink {
    0%  , 10% , 12% , 20%, 22%, 40%, 42% , 60%, 62%,  70%, 72% , 90%, 92%, 98% , 100%
    { height: 48px}
    11% , 21% ,41% , 61% , 71% , 91% , 99%
    { height: 18px}
}

.toaster {
    width: 250px;
    margin-left: -125px;
    text-align: center;
    border-radius: 0.25rem;
    padding: 1rem;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 50px;
    background-color: var(--color-background-mute);
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toaster.success {
    border: 3px solid var(--color-success);
    color: var(--color-success);
}

.toaster.danger {
    border: 3px solid var(--color-danger);
    color: var(--color-danger);
}

.toaster h5 span {
    display: inline-block;
    margin-right: 6px;
}

.info-toast {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 200;
    border: 1px solid var(--color-info);
    border-radius: 6px;
    width: 200px;
    height: 300px;
    box-shadow: var(--shadow);
    -webkit-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

.info-toast .toast-head {
    text-align: right;
    background-color: var(--color-info);
    border-radius: 6px 6px 0 0;
}

.info-toast .toast-head span {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 0.5rem;
    color: var(--vt-c-white-soft);
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
