.profile-updates .profile-updates-btns {
    padding-top: 1rem;
    border-top: 2px solid var(--color-border);
    display: flex;
    justify-content: end;
    gap: 20px;
}

.profile-updates .profile-updates-body {
    padding-bottom: 1rem;
}

.profile-updates .profile-updates-body textarea {
    min-height: 150px;
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: var(--shadow);
    font-size: 1rem;
}

.profile-updates .profile-updates-body .preview h4 {
    width: 100%;
}

.profile-updates .profile-updates-body .preview:hover {
    background-color: var(--color-border);
    cursor: pointer;
}

.profile-updates .profile-updates-body .preview.selected h4 {
    border: 1px solid var(--color-success);
}

#modal.modal-backdrop.delete-account-backdrop {
    background-color: rgb(255, 0, 0);
    background-color: rgba(255,0,0,0.3);
}

#modal.modal-backdrop.delete-account-backdrop .modal {
    background-color: var(--color-danger);
}

#modal.modal-backdrop.delete-account-backdrop .modal .modal-body p {
    color: var(--vt-c-white);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

#modal.modal-backdrop.delete-account-backdrop .modal .modal-body label {
    color: var(--vt-c-white);
}

#modal.modal-backdrop .modal .modal-header.delete-account-header {
    background-color: var(--color-background-soft);
    border-radius: 0.25rem;
}

#modal.modal-backdrop .modal .modal-header.delete-account-header .modal-x {
    margin-right: 0.5rem;
}

#modal.modal-backdrop .modal .modal-footer.delete-account-footer {
    background-color: var(--color-background-soft);
    border-radius: 0.25rem;
    padding: 1rem;
    justify-content: center;
}

.profile-updates .profile-updates-body .profile-updates-img-preview {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.profile-updates .profile-updates-body .profile-updates-img-preview .profile-updates-img-holder {
    display: flex;
    align-items: start;
    gap: 0.5rem;
}

.profile-updates .profile-updates-body .profile-updates-img-preview .profile-updates-img-holder .profile-updates-img-remove {
    cursor: pointer;
    color: var(--color-danger);
    font-size: 1rem;
    font-weight: 800;
    display: inline-block;
    padding: 10px 5px;
    border: 2px solid var(--color-danger);
    border-radius: 50%;
    line-height: 2px;
}

.profile-updates .profile-updates-body .profile-updates-img-preview .profile-updates-img-holder .profile-updates-img-remove:hover {
    opacity: 0.8;
}