.profile-updates .profile-updates-btns {
    padding-top: 1rem;
    border-top: 2px solid var(--color-border);
    display: flex;
    justify-content: end;
    gap: 20px;
}

.profile-updates .profile-updates-body {
    padding-bottom: 1rem;
}

.profile-updates .profile-updates-body textarea {
    min-height: 150px;
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: var(--shadow);
    font-size: 1rem;
}

.profile-updates .profile-updates-body .preview h4 {
    width: 100%;
}

.profile-updates .profile-updates-body .preview:hover {
    background-color: var(--color-border);
    cursor: pointer;
}

.profile-updates .profile-updates-body .preview.selected h4 {
    border: 1px solid var(--color-success);
}